<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>执子之手，与子偕老</title>
    <meta name="language" content="zh-CN">
    <link type="text/css" rel="stylesheet" href="./Love_files/default.css">
    <script type="text/javascript" src="./Love_files/jquery.min.js"></script>
    <script type="text/javascript" src="./Love_files/jscex.min.js"></script>
    <script type="text/javascript" src="./Love_files/jscex-parser.js"></script>
    <script type="text/javascript" src="./Love_files/jscex-jit.js"></script>
    <script type="text/javascript" src="./Love_files/jscex-builderbase.min.js"></script>
    <script type="text/javascript" src="./Love_files/jscex-async.min.js"></script>
    <script type="text/javascript" src="./Love_files/jscex-async-powerpack.min.js"></script>
    <script type="text/javascript" src="./Love_files/functions.js" charset="utf-8"></script>
    <script type="text/javascript" src="./Love_files/love.js" charset="utf-8"></script>
</head>

<body>
    <div id="main">
        <div id="error">亲，您使用的浏览器无法支持即将显示的内容，请换成谷歌(<a
                href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html?hl=zh-CN&brand=CHMI">Chrome</a>)或者火狐(<a
                href="http://firefox.com.cn/download/">Firefox</a>)浏览器哟~</div>
        <div id="wrap">
            <div id="text">
                <div id="code">
                    <span class="say" style="color:red;">愿得一人心，白首不分离</span><br><br>
                    <span class="say">我忽略时刻,正因等你出现;我忽略距离,正因等你出现;我忽略语言,正因想你一向未变。亲爱的,想你了。</span><br>
                    <span class="say">愉悦其实真的狠简单,有你有事做,有所期盼。</span><br>
                    <span class="say">初恋像柠檬,虽酸却耐人寻味;热恋像火焰,虽热却不能自拔;失恋像伤疤,虽痛却无法释怀。因此咱们要懂得呵护感情!</span><br>
                    <span class="say">如果你冷,我将你拥入怀中;如果你忧,我替你擦去泪痕;如果你爱我,我要向全世界广播…我只想给你我真实的爱。</span><br>
                    <br>
                    <span class="say" style="color:red;">愿得一人心，白首不分离</span><br><br>
                    <span class="say">我忽略时刻,正因等你出现;我忽略距离,正因等你出现;我忽略语言,正因想你一向未变。亲爱的,想你了。</span><br>
                    <span class="say">愉悦其实真的狠简单,有你有事做,有所期盼。</span><br>
                    <span class="say">初恋像柠檬,虽酸却耐人寻味;热恋像火焰,虽热却不能自拔;失恋像伤疤,虽痛却无法释怀。因此咱们要懂得呵护感情!</span><br>
                    <span class="say">如果你冷,我将你拥入怀中;如果你忧,我替你擦去泪痕;如果你爱我,我要向全世界广播…我只想给你我真实的爱。</span><br>
                    <br>
                    <span class="say"><span class="space"></span> -- 息夕。</span>
                </div>
            </div>
            <div id="clock-box">
                <a href="https://blog.csdn.net/weixin_43151418/article/details/124746163?spm=1001.2014.3001.5502" target="_blank">黑丰息</a> 和 <a href="https://blog.csdn.net/weixin_43151418/article/details/124746163?spm=1001.2014.3001.5502" target="_blank">白风夕</a> 在一起的
                <div id="clock"></div>
            </div>
            <canvas id="canvas" width="1100" height="680"></canvas>
        </div>
    </div>
</body>
</html>


